@import "@/assets/css/weather-icons.css";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin:0;
  font-weight:300;
  background-color:#185D8C;
  color:#fff;
  transition: 0.5s;
}
div {
  font-weight:inherit;
}
h2 {
  font-size:4rem;
  font-weight:400;
  margin:0;
}
h2 i {
  font-size:2rem;
  margin: auto auto 0.2em 0.2em;
}
h4 {
  font-size:2rem;
  font-weight:400;
  text-transform:capitalize;
  margin: 0 0 0 0;
}
p{
  font-size:2rem;
}
input {
  font-family:inherit;
  border:none;
  outline:none;
  color:inherit;
  font-size:inherit;
  width:fit-content;
  word-break: anywhere;

  position:relative;
  background: #3598db;

  margin:0;
  border-bottom: 1px solid #fff;
  text-align:center;
  vertical-align: middle;
  text-transform:capitalize;
}
p {
  font-family:inherit;
  font-size:1.6em;
  margin:0;
  text-transform:capitalize;
}

h3 {
  margin: 40px 0 0;
}
span, #preloadfont {
  font-size:4rem;
  font-family:'weathericons';
}
#preloadfont {
  height:0;
  width:0;
}

#app {
  text-align: center;
  margin:0;
  font-weight:300;
  display:flex;
  flex-direction:column;
  transition: 0.5s;
  height:100vh;
  min-height: 900px;
  overflow:hidden;

}

.location {
  flex:0 0 10%;
}
.chart {
 flex: 0 0 90%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.chart div {
  flex:0 0 auto;
  padding-top:2em;
}
#chart {
  height: 100%;
  width: calc(100% + 2px);
  left: -1px;
  position: relative;
}

.current-conditions {

}
p:last-child {
  font-size:2.4em;
}
p em {
  font-size:50%;
  margin: auto auto 0.2em 0.2em;
}

.loading {
  height:96px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.loading p {
  font-size:1em;
}

.edit:before {
  content:'';
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.7)
}

input:disabled {
  background:none;
  user-select: none;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0)
}
legend {
  display:none;
  position: absolute;
  bottom: calc(-2rem - 18px);
  left: calc(50% - 100px);
  font-size: 1rem;
  background: #e84c3d;
  border-radius: 5px;
  padding: .6em;
  width: 200px;
  text-align: center;
}
legend:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: calc(50% - 10px);
  border-bottom: 10px solid #e84c3d;
  top: -9px;
  z-index: 0;
}
.edit legend {
  display:block;
}

#locations {
  display:none;
  list-style:none;
  font-size:1.2rem;
  padding:0.4rem;
  display:flex;
  flex-direction:column;
  padding:0;
  background:#fff;
  color:#222;
  border-top:1px solid #ccc;
  position:absolute;

  width: 400px;
  max-width: 100vw;
  margin:1.8em auto auto;
  left: 50%;
transform: translateX(-50%)
}
.edit #locations li {
  border:1px solid #ccc;
  border-top:none;
  cursor:pointer;
  padding:0.4rem 0.6rem;
  word-break: break-word;
}
.edit #locations li:hover, .edit #locations li:focus {
  background: #f1c40f;
}



.header-group {
  font-size:1.4em;
  position:relative;
  display:flex;
  margin:1em auto auto;
}
.header-group fieldset, .header-group form {
  margin: auto;
  position: relative;
  outline:none;
  border:none;
  padding:0;
  display: flex;
}
.header-group button {
  min-width:1.4rem;
  height:100%;
  border:none;
  padding:0.2em;
  /*border-bottom: rgba(0,0,0,) solid #fff;*/
  cursor:pointer;
  right:0;
  vertical-align: middle;
  position: absolute;
  background: none;
}
.header-group button:before {
  content:'';
  mask:url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23fff' stroke-width='.569' fill='none'%3E%3Cpath d='M95.25-13.23h5.292M97.896-15.875l2.646 2.646-2.646 2.646' transform='matrix(10.22059 0 0 10.2244 -973.511 164.37)'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 50%;
  background: #fff;
  width:100%;
  height:100%;

  border:none;
  display: block;
}
.header-group input:disabled ~ button:before {
  mask:url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23000' stroke-width='.265'%3E%3Cpath d='m3.204 42.925 11.743 11.83-12.56 3.192s-.918.4-1.68-.22c-.763-.62-.553-1.397-.553-1.397zM18.275 51.587l29.971-29.955L36.403 9.8 6.446 39.782ZM39.487 6.737l5.578-5.52S46.323.144 48.223.132c1.9-.01 3.137 1.008 3.137 1.008l5.966 5.946s1.085 1.041 1.046 2.77c-.04 1.728-.95 2.614-.95 2.614l-6.1 6.101z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 50%;

  border-bottom:1px solid rgba(0,0,0,0);
}


.body-group {
  margin:2em auto;
}

.left, .right {
  height:200px;
  width:50px;
  margin:0;
  padding:0;
  position:absolute;
  background:none;
  bottom:50px;
  border:none;
  background:transparent;
  color:#fff;
  font-size:3em;
}
